* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: white;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
}

.image img {
    width: 50%;
    border-radius: 8px;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 20px;
    color: #000;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.blue {
    color: #007BFF;
    font-weight: bold;
}

.descricao {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-top: 10px;
}

.links {
    margin-top: 20px;
}

.links a {
    text-decoration: none;
    color: #007BFF;
    margin: 0 15px;
    font-size: 14px;
}
